USE [master]
GO

/****** Object:  Database [KrispyKreme]    Script Date: 01/04/2021 10:51:52 p. m. ******/
CREATE DATABASE [KrispyKreme]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KrispyKreme', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KrispyKreme.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KrispyKreme_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KrispyKreme_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KrispyKreme].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO



USE [KrispyKreme]
GO
/****** Object:  StoredProcedure [dbo].[SpValidaCupon]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP PROCEDURE IF EXISTS [dbo].[SpValidaCupon]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT IF EXISTS [FK_dbo.Usuarios_Cat.Perfiles_PerfilID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cupones]') AND type in (N'U'))
ALTER TABLE [dbo].[Cupones] DROP CONSTRAINT IF EXISTS [FK_dbo.Cupones_Cat.Estatus_EstatusID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cupones]') AND type in (N'U'))
ALTER TABLE [dbo].[Cupones] DROP CONSTRAINT IF EXISTS [FK_dbo.Cupones_Cat.Establecimientos_EstablecimientoID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cupones]') AND type in (N'U'))
ALTER TABLE [dbo].[Cupones] DROP CONSTRAINT IF EXISTS [DF__Cupones__Titulo__47DBAE45]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cupones]') AND type in (N'U'))
ALTER TABLE [dbo].[Cupones] DROP CONSTRAINT IF EXISTS [DF__Cupones__Vigenci__3A81B327]
GO
/****** Object:  Index [IX_PerfilID]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP INDEX IF EXISTS [IX_PerfilID] ON [dbo].[Usuarios]
GO
/****** Object:  Index [IX_EstatusID]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP INDEX IF EXISTS [IX_EstatusID] ON [dbo].[Cupones]
GO
/****** Object:  Index [IX_EstablecimientoID]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP INDEX IF EXISTS [IX_EstablecimientoID] ON [dbo].[Cupones]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Usuarios]
GO
/****** Object:  Table [dbo].[Cupones]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Cupones]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP TABLE IF EXISTS [dbo].[__MigrationHistory]
GO
/****** Object:  Table [Cat].[Perfiles]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP TABLE IF EXISTS [Cat].[Perfiles]
GO
/****** Object:  Table [Cat].[Estatus]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP TABLE IF EXISTS [Cat].[Estatus]
GO
/****** Object:  Table [Cat].[Establecimientos]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP TABLE IF EXISTS [Cat].[Establecimientos]
GO
/****** Object:  Schema [Cat]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP SCHEMA IF EXISTS [Cat]
GO
USE [master]
GO
/****** Object:  Database [KrispyKreme]    Script Date: 01/04/2021 10:29:34 p. m. ******/
DROP DATABASE IF EXISTS [KrispyKreme]
GO
/****** Object:  Database [KrispyKreme]    Script Date: 01/04/2021 10:29:34 p. m. ******/
CREATE DATABASE [KrispyKreme]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KrispyKreme', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KrispyKreme.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KrispyKreme_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KrispyKreme_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KrispyKreme].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KrispyKreme]
GO
/****** Object:  Schema [Cat]    Script Date: 01/04/2021 10:29:36 p. m. ******/
CREATE SCHEMA [Cat]
GO
/****** Object:  Table [Cat].[Establecimientos]    Script Date: 01/04/2021 10:29:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cat].[Establecimientos](
	[EstablecimientoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cat.Establecimientos] PRIMARY KEY CLUSTERED 
(
	[EstablecimientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Cat].[Estatus]    Script Date: 01/04/2021 10:29:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cat].[Estatus](
	[EstatusID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cat.Estatus] PRIMARY KEY CLUSTERED 
(
	[EstatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Cat].[Perfiles]    Script Date: 01/04/2021 10:29:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cat].[Perfiles](
	[PerfilID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[PuedeVer] [bit] NOT NULL,
	[PuedeEditar] [bit] NOT NULL,
	[PuedeEliminar] [bit] NOT NULL,
	[PuedeExportar] [bit] NOT NULL,
	[PuedeCrear] [bit] NOT NULL,
 CONSTRAINT [PK_Cat.Perfiles] PRIMARY KEY CLUSTERED 
(
	[PerfilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01/04/2021 10:29:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cupones]    Script Date: 01/04/2021 10:29:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cupones](
	[CuponID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](max) NOT NULL,
	[Serie] [nvarchar](max) NOT NULL,
	[EstatusID] [int] NOT NULL,
	[EstablecimientoID] [int] NOT NULL,
	[Vigencia] [datetime] NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Cupones] PRIMARY KEY CLUSTERED 
(
	[CuponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/04/2021 10:29:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Contrasena] [nvarchar](max) NOT NULL,
	[PerfilID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Cat].[Establecimientos] ON 

INSERT [Cat].[Establecimientos] ([EstablecimientoID], [Nombre]) VALUES (1, N'Centro')
INSERT [Cat].[Establecimientos] ([EstablecimientoID], [Nombre]) VALUES (2, N'Norte')
INSERT [Cat].[Establecimientos] ([EstablecimientoID], [Nombre]) VALUES (3, N'Sur')
SET IDENTITY_INSERT [Cat].[Establecimientos] OFF
GO
SET IDENTITY_INSERT [Cat].[Estatus] ON 

INSERT [Cat].[Estatus] ([EstatusID], [Nombre]) VALUES (1, N'Activo')
INSERT [Cat].[Estatus] ([EstatusID], [Nombre]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [Cat].[Estatus] OFF
GO
SET IDENTITY_INSERT [Cat].[Perfiles] ON 

INSERT [Cat].[Perfiles] ([PerfilID], [Nombre], [PuedeVer], [PuedeEditar], [PuedeEliminar], [PuedeExportar], [PuedeCrear]) VALUES (1, N'Administrado', 1, 1, 1, 1, 1)
INSERT [Cat].[Perfiles] ([PerfilID], [Nombre], [PuedeVer], [PuedeEditar], [PuedeEliminar], [PuedeExportar], [PuedeCrear]) VALUES (2, N'Consulta', 1, 0, 0, 1, 0)
SET IDENTITY_INSERT [Cat].[Perfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Cupones] ON 

INSERT [dbo].[Cupones] ([CuponID], [Codigo], [Serie], [EstatusID], [EstablecimientoID], [Vigencia], [Titulo]) VALUES (1004, N'FC0', N'RR24', 1, 1, CAST(N'2021-09-01T00:00:00.000' AS DateTime), N'2x1 en Donas')
INSERT [dbo].[Cupones] ([CuponID], [Codigo], [Serie], [EstatusID], [EstablecimientoID], [Vigencia], [Titulo]) VALUES (1005, N'FC1', N'RRT', 1, 2, CAST(N'2021-10-05T00:00:00.000' AS DateTime), N'30% de descuento')
INSERT [dbo].[Cupones] ([CuponID], [Codigo], [Serie], [EstatusID], [EstablecimientoID], [Vigencia], [Titulo]) VALUES (1006, N'FC2', N'TYU66', 1, 3, CAST(N'2021-11-06T00:00:00.000' AS DateTime), N'Pa-k Compartas')
SET IDENTITY_INSERT [dbo].[Cupones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [Nombre], [Email], [Contrasena], [PerfilID]) VALUES (1, N'Luis Suárez', N'admin@admin.com', N'1234', 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [Nombre], [Email], [Contrasena], [PerfilID]) VALUES (2, N'Leo Messi', N'consulta@consulta.com', N'1234', 2)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [IX_EstablecimientoID]    Script Date: 01/04/2021 10:29:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstablecimientoID] ON [dbo].[Cupones]
(
	[EstablecimientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstatusID]    Script Date: 01/04/2021 10:29:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstatusID] ON [dbo].[Cupones]
(
	[EstatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PerfilID]    Script Date: 01/04/2021 10:29:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_PerfilID] ON [dbo].[Usuarios]
(
	[PerfilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Vigencia]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT ('') FOR [Titulo]
GO
ALTER TABLE [dbo].[Cupones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cupones_Cat.Establecimientos_EstablecimientoID] FOREIGN KEY([EstablecimientoID])
REFERENCES [Cat].[Establecimientos] ([EstablecimientoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cupones] CHECK CONSTRAINT [FK_dbo.Cupones_Cat.Establecimientos_EstablecimientoID]
GO
ALTER TABLE [dbo].[Cupones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cupones_Cat.Estatus_EstatusID] FOREIGN KEY([EstatusID])
REFERENCES [Cat].[Estatus] ([EstatusID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cupones] CHECK CONSTRAINT [FK_dbo.Cupones_Cat.Estatus_EstatusID]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Usuarios_Cat.Perfiles_PerfilID] FOREIGN KEY([PerfilID])
REFERENCES [Cat].[Perfiles] ([PerfilID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_dbo.Usuarios_Cat.Perfiles_PerfilID]
GO
/****** Object:  StoredProcedure [dbo].[SpValidaCupon]    Script Date: 01/04/2021 10:29:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Missael Armenta 
-- Create date: 01 Abril 2021
-- Description:	Valida si es posible o no obtener un cupon
-- =============================================
CREATE PROCEDURE [dbo].[SpValidaCupon]
	@CuponID INT = 0
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Estatus INT = 0,@VIGENCIA DATETIME = GETDATE()
	SELECT @Estatus = EstatusID, @VIGENCIA = Vigencia 
	FROM Cupones 
	WHERE CuponID = @CuponID

    IF(@Estatus != 1)
	BEGIN 
		SELECT 1 AS 'ValidaCuponID', 'El cupón esta inactivo' AS 'MensajeValidacion'
	END 

	IF(@VIGENCIA < GETDATE())
	BEGIN 
		SELECT 2 AS 'ValidaCuponID', 'El cupón ha expirado' AS 'MensajeValidacion'
	END 

	IF(@VIGENCIA >= GETDATE() AND @Estatus = 1)
	BEGIN 
		SELECT 0 AS 'ValidaCuponID', 'Cupon canjeado' AS 'MensajeValidacion'
	END
END
GO
USE [master]
GO
